.TimeLine, .Table {
    width: 100%;
    height: 4em;
    border: dotted 1px;
}
.TimeLineCanvas, .TableCanvas {
    width: 100%;
    height: 100%;
    background: yellow;
}
.tccontainer {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}
.timelineControl {
    flex: 1 1 17%;
}
.TimeLine, .Table  {
    flex: 1 1 80%;
}
.dotted {
    border: 1px dotted;
    padding: 2px;
}
