.TimeLine {
    width: 100%;
    height: 4em;
    border: dotted 1px;
}
.TimeLineCanvas {
    width: 100%;
    height: 100%;
    background: yellow;
}
.tccontainer {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}
.timelineControl {
    flex: 1 1 17%;
}
.TimeLine  {
    flex: 1 1 80%;
}
